@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F4F7FE;
  --foreground: #11224D;
  --font-noto-sans-hebrew: 'Noto Sans Hebrew', sans-serif;
}

@layer base {
  body {
    @apply font-sans;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}